<div class="col-md">
    <div class="artist-info" onclick="redirectToArtist(id)">
        <img src="/img/artists/test-prof.jpg">
        <div class="overlay-main"></div>
        <div class="d-flex overlay-content flex-column align-items-end">
            <div class="spotify-container mt-auto">
                <a href="https://www.spotify.com">
                <img src="/img/listen-on-spotify-1.png">
                </a>
            </div>
            <p>Mount Everest</p>
        </div>
    </div>
</div>