<div class="event-container">
    <div class="event-header">
        <div class="artist-name"><p>Also Parks</p></div>
        <div class="date"><p>11/03/21</p></div>
    </div>
    <div class="location">
        <img class="location-icon" src="/img/icon-for-address-1.svg">
        <div class="location-text"><p>O2 Shepherd's Bush Empire, London</p></div>
    </div>
    <img class="banner" src="/img/events/concert-big.jpg">
    <div class="description"><p>
        Arlo Parks redesigns music culture with her unique fusion of R&38;B, pop, soul and a screech of jazz. Watch the energetic performer play her latest hit tracks when you buy your Arlo Parks tickets or list spare ones for sale with StubHub today.

Her simple melodies sit in beautiful harmony with modern, unashamed lyrics and Arlo Parks has rightfully gained critical acclaim from the media and her peers alike. Offering the best seats for the UK’s top acts, StubHub buyers can snap up Arlo Parks tickets today!
         Arlo Parks redesigns music culture with her unique fusion of R&38;B, pop, soul and a screech of jazz. Watch the energetic performer play her latest hit tracks when you buy your Arlo Parks tickets or list spare ones for sale with StubHub today.
Her simple melodies sit in beautiful harmony with modern, unashamed lyrics and Arlo Parks has rightfully gained critical acclaim from the media and her peers alike. Offering the best seats for the UK’s top acts, StubHub buyers can snap up Arlo Parks tickets today!
    </p></div>
    <div class="ticket-container d-flex justify-content-around">
        <a href="https://www.ticketmaster.com/">
            <img class="buy-ticket" src="/img/buy-ticket.svg">
        </a>
    </div>
</div>