<nav id="navbar" class="navbar navbar-light navbar-expand-lg">
    <div id="top-box" class="container-fluid">     
        <div id="header-container" class="">
            <h1 class="site-title"><a href="#">Coffestained Records</a></h1>
            
        </div>
        <div>
            <button type="button" style="color:black" class="navbar-toggler justify-content-end" data-bs-target="#navbar-container" data-bs-toggle="collapse">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div id="navbar-container" class="collapse flex-column mr-0 navbar-collapse">
            <ul id="navbar-top" class="nav navbar-right mr-0">
                <li class="nav-item">
                    <a class="nav-link active" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/artists">Our Artists</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Merch</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Releases</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
            <ul id="navbar-bottom" class="nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Sign up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Log in</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="hr"></div>
