<div class="col-md product-content">
    <img class="product-img" src="{{img_pr}}">
    <div class="product-text">
        <div class="product-name">
            <!-- To be loaded dynamically -->
            <p>{{title_pr}}</p>
        </div>
        <div class="product-description">
            <!-- To be loaded dynamically -->
            <p>
                {{description_pr}}
            </p>
        </div>
    </div>
    <a href="/merch"><img class="buy-btn" src="/img/buy-button.svg" alt=""></a>
</div>