<div class="col-md">
    <img class="product-img" src="/img/products/t-shirt.png">
    <div class="product-text">
        <div class="product-name">
            <!-- To be loaded dynamically -->
            <p>TONES &#38; I Tour T-shirt</p>
        </div>
        <div class="product-description">
            <!-- To be loaded dynamically -->
            <p>
                This new DCfC slim fit t-shirt features ‘Death Cab for Cutie’ plus ‘Kintsugi’ printed in a circular yellow-gold design on a black American Apparel cotton blend.
            </p>
        </div>
    </div>
    <a href="/merch"><img class="buy-btn" src="/img/buy-button.svg" alt=""></a>
</div>