<div class="sidenav">
    <div>
        <a class="user-name" href="#">{{username}}</a>
        <a href="javascript:void(0)" class="closebtn" onclick="closeSideNav()">&times;</a>
    </div>
    <a href="/accountDetails">Account Details</a>
    <a href="/myorders">My Orders</a>
    <div style="border-bottom: 2px solid black"></div>
    {{#if isAdmin}}
    <a href="/manageOrders">Manage Orders</a>
    <a href="/myorders">Inbox</a>
    <div style="border-bottom: 2px solid black"></div>
    {{/if}}
    <a href="/logout">LogOut</a>
</div>
