<div class="sidenav">
    <div>
        <a class="user-name" href="#">{{username}}</a>
        <a href="javascript:void(0)" class="closebtn" onclick="closeSideNav()">&times;</a>
    </div>
    <a href="#">Account Details</a>
    <a href="/myorders">My Orders</a>
    <a href="/logout">LogOut</a>
</div>
