<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    {{> header}}
    <link rel="stylesheet" href="styles/{{stylesheet}}.css">
</head>
<body>
    <div id="main-panel" class="main-panel">
        {{> navbar}}
        {{{body}}}
    </div>
    {{> footer}}
</body>
</html>