body {
    background-color: #F9F2E8;
    font-family: 'DM Serif Display';
}

.main-panel {
    margin-top: 3%;
    margin-left: 15%;
    margin-right: 15%;
}

.main-panel > #hr {
    margin-left: 0.55rem;
    margin-right: 1.2rem;
    margin-top: 0;
    margin-bottom: 1rem;
    border: 3px solid black;
}

#navbar {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#navbar-top {
    justify-content: flex-end;
    margin-bottom: 2px;
}

#navbar-bottom {
    justify-content: flex-end;
    margin-bottom: 0px;
}

#navbar-container  a {
    color: black;
    font-size: 22px;
    font-weight: 500;
}

.site-title {
    float: left;

    font-family: "DM Serif Display";
    font-style: normal;
    font-weight: 1000;
    font-size: 40px;
    line-height: 55px;
    width: 222px;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}