<div class="top-header"><p>About CoffeeStained</p></div>
<div class="about-main-content row">
    <div class="greeting">
        <h1>We are CoffeeStained Records, the world’s leading funk/sould record label</h1>
    </div>
    <div class="col">
        <p>
            We exist to shape culture through the power of artistry.  We are a community of entrepreneurs committed to creativity and innovation.
        </p>
        <p>
            We own and operate a broad array of businesses engaged in recorded music, music publishing, merchandising, and audiovisual content in more than 60 countries.
        </p>
        <p>
            With no binding contracts, no specific mission, and an acceptance of any jazz style, CoffeeStained is a relaxed independent label. We simply release music that we like, from a flirtatious disc of boleros from Spanish singer Martirio, to an eloquent disc from pianist Laurent Coq. We also license albums from European labels that otherwise would not be available in the United States.
        </p>
        <p>
            CoffeeStained's relationship with their artists is more like an affair than a marriage. “They stay with us because they like to stay.” explained Zalacain, the founder of CoffeeStained. Some artists have been with the label for many years. And others are just starting out the jazz life. Usually CoffeeStained finds new artists through their current ones. “It happens the way you make friends,” he said. “A friend invites you to his house - you make a new friend.”
        </p>
    </div>
    <div class="col">
        <img src="img/coffeestained-studio.png">
        <p>
            Aside from good music, CoffeeStained looks for a unique voice. “That's what you're looking for,” said Zalacain. “Why is a jazz singer going to attract your ear? Because she has something unique. It's the same with instrumentalists.”
        </p>
        <p>
            Knowing that music, a powerful force for good in the world, is unique in its ability to inspire people and bring them together, we work with our artists and employees to serve our communities.
        </p>
        <p>
            We are the home for music’s greatest artists, innovators and entrepreneurs.
        </p>    
        <p>
           <b>Together, we are CoffeeStained Records.</b>
        </p>
    </div>
</div>