<div class="top-header"><h1>Artist Name</h1></div>
<div id="artist-content" class="container overflow-hidden">
    <div class="row">
        <div class="col">
            <div class="row"><p class="article-text">Anaïs Oluwatoyin Estelle Marinho known professionally as Arlo Parks, is a British singer-songwriter and poet. Her debut studio album, Collapsed in Sunbeams, was released in 2021 to critical acclaim and peaked at number three on the UK Albums Chart. It earned her nominations for Album of the Year, Best New Artist and Best British Female Solo Artist at the 2021 Brit Awards.</p></div>
            <div class="row"><p class="article-text">Anaïs Oluwatoyin Estelle Marinho known professionally as Arlo Parks, is a British singer-songwriter and poet. Her debut studio album, Collapsed in Sunbeams, was released in 2021 to critical acclaim and peaked at number three on the UK Albums Chart. It earned her nominations for Album of the Year, Best New Artist and Best British Female Solo Artist at the 2021 Brit Awards.</p></div>
        </div>
        <div class="col-md-6 gx-5">
            <div class="row">
                <img src="img/gambino-article.jpg" style="width:100%">
            </div>
            <div class="row p-2">
                <p class="article-text">
                    Anaïs Oluwatoyin Estelle Marinho known professionally as Arlo Parks, is a British singer-songwriter and poet. Her debut studio album, Collapsed in Sunbeams, was released in 2021 to critical acclaim and peaked at number three on the UK Albums Chart. It earned her nominations for Album of the Year, Best New Artist and Best British Female Solo Artist at the 2021 Brit Awards.
                </p>
            </div> 
        </div>
        <div class="col">
            <div class="cheatsheet">
                <h1>Artist's cheatsheet</h1>
                <h2>Attribute: </h2>
                <p>Value</p>
                <h2>Attribute: </h2>
                <p>Value</p>
                <h2>Attribute: </h2>
                <p>Value</p>
                <h2>Attribute: </h2>
                <p>Value</p>
                <h2>Attribute: </h2>
                <p>Value</p>
            </div>
        </div>
    </div>  
</div>