<div class="top-header"><p>Contact Us</p></div>
<div class="contact-main-content">
    <form>
        <div class="mb-3">
            <label for="contactName" class="form-label">Full Name</label>
            <input type="text" class="form-control" id="contactName" required>
        </div>
        <div class="mb-3">
            <label for="contactEmail" class="form-label">Email Address</label>
            <input type="email" class="form-control" id="contactEmail" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="contactSubject" class="form-label">Subject</label>
            <input type="text" class="form-control" id="contactSubject" required>
        </div>
        <div class="mb-3">
            <label for="contactMessage" class="form-label">Message</label>
            <textarea class="form-control" id="contactMessage" rows="6"></textarea>
        </div>
        <div class="contact-submit">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>