<div id="main-carousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="img/carousel/childish-gambino-live.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="img/carousel/ella-mai.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="img/carousel/marcus-miller-bw.jpeg" alt="Third slide">
    </div>
  </div>
</div>

<div class="homepage-header">
    <p>See what we've been up to</p>
</div>

<div id="main-news">
  <div id="left-article">
    <div class="article-date">01/05/2021</div>
    <img class="landscape" src="img/gambino-article.jpg">
    <p>Surprise experimental album released at the beginning of pandemic brings listeners introspection and sense of peace one year later
It’s been a year since the world shut down.  A year since we truly realized the fragility of life. A year since certainty became more valuable than money. A year since everything around us gave way and crumbled to pieces. Yet, no matter how hard we tried to distract ourselves, ignore our worries or use sleep as a blissful escape, the thoughts of helplessness and fear remained unrelenting. It seemed so foolish to accept these feelings as inevitable conditions of our diminishing mental fortitude, but that just proved that we are egocentric humans, believing that we are capable of everything under the sun. However, that was a year ago. We have come a long way since then.
A year ago, Childish Gambino mysteriously uploaded a project, made only available via his website. Fans were initially excited to receive new music from one of their favorite artists during such a hectic point in time. Still, they were quickly disappointed when the nearly hour-long album disappeared after only 12 hours. Could it have been an intentional artistic stunt by Gambino to emphasize and explore the themes of chaos and uncertainty? Had the server crashed due to heavy website traffic? Was it a marketing ploy? Who knows. Art is subjective. It allows for limitless interpretations and inquisitive interactions among the members of the fanbase, each no more plausible or idiotic than the last. That’s the beauty of art.
    </p>
  </div>
  <div id="right-article">
    <div class="article-date">12/05/2021</div>
    <div id="article-content">
      <img class="portrait float-sm-end" src="img/marcus-miller-article.jpg">
      <p>Nearing his 80th birthday in March 2021, the tenor saxophonist Charles Lloyd wanted to commemorate the occasion by revisiting old music with a new band, mixing longtime collaborators and first-timers. He recorded 12 pieces over two hours in a live performance on the night of his birthday, at the Lobero Theater in his hometown, Santa Barbara, Calif., and it has now been turned into an enchanting new album, “8: Kindred Spirits (Live From the Lobero).”
The personnel tells its own story; it hints at Mr. Lloyd’s willful urge to subvert while also making sense of things, to prove something about the oneness of the world. Both the oldest and the youngest of the five side musicians are new to his orbit: the organist Booker T. Jones, now 75 — a fellow Memphis native who, like Mr. Lloyd, went on to become a crossover star — and the guitarist Julian Lage, 32. They join the bassist Rueben Rogers, the drummer Eric Harland and the pianist Gerald Clayton, all members of Mr. Lloyd’s other ensembles. (Don Was, the president of Blue Note Records, also played bass on two tunes.)
In the late 1960s, when he became a popular sensation, Mr. Lloyd was among the few who saw jazz’s popular decline and rock ’n’ roll’s ascent not as conflicting forces, but as waves already in flow together. The bands of Cannonball Adderley and Chico Hamilton, in which he got his start, were good places to explore this kind of thinking. So was California, where he moved at the end of the decade, by which point he was already in touch with the hippie movement.
He proved adept at allaying questions of style while basically avoiding the conversation entirely, so he never came to symbolize any particular turn. The most obvious way to group him would be in a jazz-rock fusion conversation (he had a band with Mike Love, you know), but even that never made enough sense to stick. If his tunes can sometimes feel like a species of their own, it’s because they so confidently allow you to feel the blues while hearing jazz and listening like you would to pop music.
At 5:00, with the band cooling to a simmer, Mr. Lloyd repeats a low, downward phrase three times, pulling the curtain down. The sounds have almost died out when he raises himself up to puff out the opening phrase of “Dream Weaver”: a simple, singsong melody, all about rhythm and tone. The band falls in behind him, grooving now, but the feeling of scattered friction that it established in the overture still reigns.
      </p>
    </div>
  </div>
</div>
<div class="homepage-header">
    <p>CoffeeStained Recommends</p>
</div>
<div id="playlists" class="d-flex justify-content-around">
    <iframe src="https://open.spotify.com/embed/playlist/3Dkf9NZg97IiizYKKCF4G4" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    <iframe src="https://open.spotify.com/embed/playlist/201KzdY26pX903VHTusMUa" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    <iframe src="https://open.spotify.com/embed/playlist/2grd86tMCwtBvz1l5RoC4H" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
</div>