.top-header {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    text-align: center;
    border-bottom: 4px solid black;
    margin-bottom: 0.7rem;
}

.top-header p {
    font-size: 30px;
}

.contact-main-content {
    width: 100%;
    padding: 0px 7rem;
}

.contact-main-content input {
    background-color: white;
}

.contact-main-content input:valid {
    background-color: white;
}

.contact-main-content form button {
    outline: none;
    border: 1px solid black;
    background-color: black;
    color: white;
    transition: ease-in-out 0.3s;
    border-radius: 0;
}

.contact-main-content form button:hover {
    text-decoration: underline;
    background-color: white;
    color: black;
    border-color: black
}

.form-control:focus {
    border-color: rgb(97, 19, 19) !important;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset,
                0px 0px 8px rgba(97, 19, 19, 0.5);
}

.contact-submit {
    text-align: center;
}