#main-carousel {
    margin-bottom: 0.7rem;
}

.homepage-header {
    padding-top: 0.7rem;
    text-align: center;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
}

.homepage-header p {
    font-size: 40px;
}

#main-news {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 24px;
    font-weight: 400;
}

#playlists {
    flex-wrap: wrap;
}

#playlists iframe {
    margin-top: 1rem;
}

@media only screen and (max-width: 600px){
    .homepage-header p {
        font-size: 30px;
        font-weight: 600;
    }
    #main-news {
        font-size: 20px
    }
}