#main-carousel {
    margin-bottom: 0.7rem;
}

img.landscape {
    max-width: 100%;
    max-height: 100%;
}

img.portrait {
    max-width: 50%;
    max-height: 80%;
}

.homepage-header {
    padding-top: 0.7rem;
    text-align: center;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
}

.homepage-header p {
    font-size: 40px;
}

#main-news {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-wrap: wrap;
}

#main-news p {
    line-height: 30px;
    margin-bottom: 0.5rem;
    font-size: 24px;
    font-weight: 400;
    min-width: 200px;
}

#main-news a {
    font-size: 20px;
    font-weight: 800;
    margin-left: auto;
}

.article-date {
    font-weight: 800;
    margin-left: auto;
    font-size: 26px;
    line-height: 40px;
}

.article-date::before{
    content: '•';
    font-size: 40px;
    padding-right: 5px;
}


#left-article {
    display: flex;
    flex-direction: column;
    flex:42;
    border-right: 3px solid black;
    padding-right: 0.5rem;
}


#left-article p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}

#right-article {
    display: flex;
    flex-direction: column;
    flex: 58;
    margin-left: 1rem;
}

#right-article p{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 14;
    -webkit-box-orient: vertical;
}

#right-article img{
    margin-left: 10px;
}

#playlists {
    flex-wrap: wrap;
}

#playlists iframe {
    margin-top: 1rem;
}

@media only screen and (max-width: 1300px){
    #left-article {
        min-width: 100%;
        margin-top: 0.5rem;
        border-right: 0px;
        border-bottom: 3px solid black;
    }


    #right-article img{
        max-width: 60%;
        min-width: 40%;
        max-height: 60%;
        min-height: 35%;
    }

    #left-article p{
        -webkit-line-clamp: 14;
    }
}

@media only screen and (max-width: 770px){
    #right-article {
        margin-left: 0;
        margin-top: 0.5rem;
    }
    
    #right-article img {
        max-width: 60%;
    }
}

@media only screen and (max-width: 600px){
    .homepage-header p {
        font-size: 30px;
        font-weight: 600;
    }

    #main-news p {
        font-size: 20px
    }
}
