body {
    background-color: #F9F2E8;
    font-family: 'Abhaya Libre';
    background: url("/img/Coffee Stain 1.png") 13% 0% no-repeat;
    background-size: 550px, 250px, auto;
}

.main-panel {
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
}

.main-panel > .hr {
    margin-top: 0;
    margin-bottom: 0.7rem;
    border: 2px solid black;
    background-color: black;
}