.top-header {
    padding-top: 0.7rem;
    text-align: center;
    border-bottom: 4px solid black;
    margin-bottom: 0.7rem;
}
.top-header p {
    font-size: 40px;
}
.order-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.order-container {
    width: 80%;
    align-items: center;
    border-bottom: 3px solid black;
    padding-bottom: 0.7rem;
    background-color: #671d003b;
}

.delivered {
    color: darkgreen;
    font-weight: bold;
    font-size: 22px;
}

.cancelled {
    color: darkred;
    font-weight: bold;
    font-size: 22px;
}

.pending {
    color: darkorange;
    font-weight: bold;
    font-size: 22px;
}

.btn-col{
    text-align: center;
}

.btn-col button{
   outline: 0;
   border: 0;
   background-color: black;
   padding: 10px 11px;
   width: 80%;
   color: white; 
   border: 1px solid black;
   transition: all 0.3s ease-in-out;
   margin-bottom: 1rem;
}

.bold {
    font-weight: bold;
    font-size: 24px;
}

.plain {
    font-size: 22px;
}

.btn-col button:hover{
   background-color: white;
   color: black; 
}